<li class="dino" id="dino-<%= dino.id %>" data-id="<%= dino.id %>">
  <div class="dino-actions">
    <%= link_to 'destroy', dino, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
    |
    <a data-toggle="modal" href="#modal-dino-<%=dino.id %>" >edit</a>
  </div>

  <strong class="dino-name"><%= dino.name %></strong>

  <div class="dino-content">
    <%= simple_format dino.content %>
  </div>


  <%= render '/dinos/modal_form', dino: dino %>
</li>
