<div id="modal-dino-<%= dino.id %>" class="modal" style="display: none;">
  <%= form_for(dino, remote: true, html: {class: 'form-vertical modal-form'}) do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Modal Heading</h3>
    </div>

    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <%= f.label :name, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :content, class: 'control-label' %>
          <div class="controls">
            <%= f.text_area :content, class: 'input-xlarge', rows: 5, style: "width: 97%" %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

