<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dino.name %>
</p>

<p>
  <b>Content:</b>
  <%= @dino.content %>
</p>


<%= link_to 'Edit', edit_dino_path(@dino) %> |
<%= link_to 'Back', dinos_path %>
