<div class="page-header" id="document" data-id="<%= @document.id %>">
  <h1><%= @document.name %> <small>thigns</small></h1>

  <div class="page-actions">
    <%= link_to 'Edit', edit_document_path(@document), class: 'btn' %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="toolbar">
      <label>
        <input name="toggle-sortable" type="checkbox"> Enable Sort
      </label>
    </div>

    <ul class="document-dinos sortable">
      <%= render @document.dinos.order(:idx) %>
    </ul>
  </div>

  <div class="span4">
    <ul>
      <% Dino.original.each do |dino| %>
        <li id="original-dino-<%= dino.id %>">
          <%= dino.name %>
          <%= link_to "show", dino %>
          |
          <%= link_to "add", "/documents/#{@document.id}/add_dino?dino_id=#{dino.id}", remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>



